<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script>
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    var csrftoken = getCookie('csrftoken');
    function getUserAnswer() {
        var ans = validate();
        alert(ans);
        if (ans != null) {
            $.ajax({
                type: "POST",
                url: "/checkans/{{ question.id }}/",
                data: {"choice": ans},
                success: successfunction,
                headers: {'X-CSRFToken': csrftoken},
                dataType: 'json'
            });
        }
    }
    function successfunction(data, status, jqXHR) {
        $("#answer_accepted").text(data.marks);
    }
    function validate() {
        var radios;
        var i;
        var choice = null;
        radios = document.getElementById("options").getElementsByTagName("input");
        for (i = 0; i < radios.length; i++) {
            if (radios[i].checked == true) {
                choice = radios[i].value;
            }
        }
        return choice;
    }
</script>
<div id="answer_accepted">
    0
</div>
<h1>{{ question.id }}</h1>
<h2>{{ question }}</h2>
<div id="options">
    {% for option in options %}
        <input type="radio" value="{{ option }}" name="option" id="option">{{ option }}<br>
    {% endfor %}
</div>
<input type="button" onclick="getUserAnswer()" value="Submit">