<!--
    We were trying to figure out a way to get the checkbox input
-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    var csrftoken = getCookie('csrftoken');
    $(document).ready(function () {
        // alert(" " + csrftoken.toString());

    });
    function foo() {
        alert($("#quiz").text());
    }
    function get_user_answer() {
        //alert("fuck you");
        var answer = $("#qform input[type='radio']:checked").val();
        // var marks=($("#answer_accepted").val()).toString();
        alert($("#quiz").text());
        $.ajax({
            type: "POST",
            url: "/mcqs/{{ question.id }}/",
            data: {"answers": answer}
            success: successfunction,
            headers: {'X-CSRFToken': csrftoken},
            dataType: 'json'
        });

        return false;
    }
    function successfunction(data, status, jqXHR) {

        alert(data.marks);
        alert("You are so awesome tantya!! ");
        $("#answer_accepted").text(data.marks);
    }
</script>
{{ question.content }}
<br>
{{ question.get_answers_list }}
<br>
{{ question.explanation }}
<br>
{{ question.get_correct_ans }}
<br>
{{ question.get_answers_count }}
<br>
<p id='quiz'>{{ quiz }}</p>
<input type="button" onclick="foo()" value="submit">
<form method="post" id="qform">
    {% csrf_token %}
    <input type=hidden name="question_id" value="{{ question.id }}">

    <ul>

        {% for answer in form.answers %}
            <li id="options_{{ forloop.counter }}">
                {{ answer }}
            </li>
        {% endfor %}
    </ul>
    <input type="button" onclick="get_user_answer()" value="submit">

    <p id="answer_accepted">
        0
    </p>
</form>