<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Quiz_form</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        var csrftoken = getCookie('csrftoken');
        $(document).ready(function () {
        });

        function get_question(question_id) {
            {
                $.ajax({
                    type: "POST",
                    url: "/mcqs/" + question_id.toString() + '/',
                    data: {"quiz": $("h4").text(),
                        "sitting_id": $("#sitting_id").text()},
                    success: updateQuestion,
                    headers: {
                        'X-CSRFToken': csrftoken
                    },
                    dataType: 'html'
                });

            }
            return false;
        }

        function updateQuestion(data, status, jqXHR) {
            $("#question_details").html(data);
        }

    </script>
</head>
<body>
{{ count }}
{{ allowed }}
<h3 id="sitting_id">{{ new_sitting }}</h3>
{% ifequal message 'Register' %}
    <a href='/register/{{ quiz.id }}'>{{ message }}</a>
{% else %}
    {% ifequal message 'Participated' %}
        <div>Paricipated</div>
    {% else %}
        {% ifequal message 'Started' %}
            <a href='/start/{{ quiz.id }}'>Start Quiz</a>
        {% else %}
            {% ifequal message 'Ended' %}
                <div>Ended</div>
            {% else %}
                {{ message }}
            {% endifequal %}
        {% endifequal %}
    {% endifequal %}
{% endifequal %}
{% if allowed %}
    <h3 id="sitting_id">{{ new_sitting }}</h3>
    <h4>{{ new_sitting.quiz_id }}</h4>
    {% for question in question_set %}
        <button id="button" onclick="get_question({{ question }})">Question {{ forloop.counter }}</button>
    {% endfor %}
    <div id="question_details">
    </div>
{% else %}
    {{ message }}
{% endif %}
</body>
</html>